<footer>
  <div class="container-fluid">
   
   <div class="f-topcol">
      <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="f-pay">
          <ul> 
              <li><span>Payments modes:</span></li>
              <li><i class="fa fa-credit-card" aria-hidden="true"></i></li>
              <li><i class="fa fa-cc-paypal" aria-hidden="true"></i></li>
              <li><i class="fa fa-cc-visa" aria-hidden="true"></i></li>
              <li><i class="fa fa-cc-mastercard" aria-hidden="true"></i></li>
              <li><i class="fa fa-cc-amex" aria-hidden="true"></i></li>
          </ul>
          
          </div>
          
          </div>

          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12"> 
            <div class="f-sociallist">
              <ul>
                <li><span>Let's Keep in touch!</span></li>
                <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                <li><a href="javascript:void(0)"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              </ul>


            </div>

          </div>
          
          
          </div>


   </div> 


    <div class="row">
      <div class="col">
        <div class="footer_info">
          <h4>Menu</h4>
          <div class="footer_links">
            <ul>
              <li><a routerLink="">Home</a></li>
              <li><a href="javascript:void(0)">Regions Categories</a></li>
              <li><a href="javascript:void(0)">Producers Categories</a></li>
              <li><a href="javascript:void(0)">Commercial</a></li>
              <li><a [routerLink]="['/blog']">Blog</a></li>
              <li><a [routerLink]="['/aboutus']">About Us</a></li>
              <li><a [routerLink]="['/contactus']">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="footer_info">
          <h4>Other Menu</h4>
          <div class="footer_links">
            

            <ul>
              <li><a [routerLink]="['/faq']">FAQ</a></li>
              <li><a [routerLink]="['/terms&conditions']">Terms & Conditions</a></li>
              <li><a [routerLink]="['/privacy&policy']">Privacy & Policy </a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="footer_info">
          <h4>Categories</h4>
          <div class="footer_links">
            <ul>
              <li><a href="javascript:void(0)">Eat</a></li>
              <li><a href="javascript:void(0)">Drink</a></li>
              <li><a href="javascript:void(0)">Food</a></li>
              <li><a href="javascript:void(0)">Regional</a></li>
              <li><a href="javascript:void(0)">producers</a></li>
            </ul>
          </div>
        </div><!--footer_links-->
      </div><!--col-xl-3-->

      <div class="col">
        <div class="footer_info">
          <h4>Contact</h4>
          <div class="footer_links">
            <ul>
              <li><span>Address:</span><p>XYZ Tower Second flor:88569</p></li>
              <li><span>Phone :</span><p>+988 9956 222</p></li>
              <li><span>Email :</span><p>info@infoebm.com</p></li>
            </ul>
          </div>
        </div><!--footer_links-->
      </div><!--col-xl-3-->

      <div class="col">
        <div class="footer_info">
          <h4>Follow Us</h4>
          <div class="footer_links">
            <p>Join us on social media</p>
            <div class="f_sociallinks">
              <a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="f-logo">
            <img src="../assets/img/f-logo.png" />
          </div>
        </div><!--footer_links-->
      </div><!--col-xl-3-->


    </div><!--row-->
    <div class="container">
      <div class="copytxt">&copy; 2018  Ltd. all right reserved</div>
    </div>
  </div><!--container-fluid-->
</footer>



