

<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page_banner-des">
          <h1>About Us</h1>
          <p>
            Lorem Ipsum is simply dummy text of the<br>
            printing and typesetting
          </p>
        </div>

      </div>


    </div>
  </div>
</section>



<section class="order_prd">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="ord_des">
          <div class="category_grids blogtitle">
            <div class="hm_title">
              <h4>order Producers For</h4>
              <small>What differs us from other</small>
            </div>
          </div>


          <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

         
        </div>


      </div>

      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="order_prd-img">
          <img src="../../assets/img/order.jpg">
        </div>


      </div>

    </div>

  </div>

</section>

<section class="our_mission">
  <div class="container-fluid">
    <div class="main-col">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="our_pic">
            <img src="../../assets/img/mission1.jpg">
          </div>

        </div>


        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="our_miss_text">
            <h1>Our Mission</h1>
            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h5>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

          </div>
        </div>

      </div>


    </div>

    <div class="newsletter-block">
     <div class="row">
<div class="col-md-12">
  <div class="news-title">
      <h2>Newsletter</h2>
      <p>Lorem Ipsum is simply dummy</p>
  </div>

<div class="row justify-content-md-center">
<div class="col-xl-4 col-lg-4 col-md-5 col-sm-12">
    <div class="newslr-form">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary newsbtn" type="button">Subscribe Now</button>
            </div>
          </div>
    </div>
</div>

</div>


</div>


     </div> 
    </div>

    <div class="main-col mb-0">
      <div class="row">

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="our_miss_text">
            <h1>Our Vision</h1>
            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </h5>

            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
           
          </div>
        </div>

        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
          <div class="our_pic">
            <img src="../../assets/img/mission1.jpg">
          </div>

        </div>

      </div>
<div class="vist_shop">
  <a href="javascript:void(0)" class="btn redbtn mt-3">Visit the shop</a>
</div>

    </div>

  </div>

</section>



<section class="team_col">
  <div class="container-fluid">
    <div class="hm_title">
      <h4>Meet The Team</h4>
      <small>Lorem Ipsum is simply a dummy text</small>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="team-info">
          <div class="teamimg">
            <img src="../../assets/img/team1.jpg">
          </div>

          <h1>Anthony Gilbert</h1>
          <h4>CEO</h4>

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium </p>
        </div>

      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="team-info">
          <div class="teamimg">
            <img src="../../assets/img/team2.jpg">
          </div>

          <h1>Anthony Gilbert</h1>
          <h4>CEO</h4>

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium </p>
        </div>

      </div>

      <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="team-info">
          <div class="teamimg">
            <img src="../../assets/img/team3.jpg">
          </div>

          <h1>Anthony Gilbert</h1>
          <h4>CEO</h4>

          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque esse iure aliquid enim, corrupti distinctio sit praesentium </p>
        </div>

      </div>

    </div>
  </div>
</section>
