


<section class="reg_categories categorygridpg ">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-3  col-lg-4 col-md-4">
        <div class="c_sidebar">
          <div class="cat_lists">
            <div class="nav-side-menu">
              <div class="menu-list">
                <!--<h4>FIler For</h4>-->
                <ul id="menu-content" class="menu-content collapse out">
                  <li><a href="javascript:void(0)"class="active">Profile</a></li>
                  <li><a href="javascript:void(0)">Orders</a></li>
                  <li><a [routerLink]="['/product']">Your Products</a></li>
                  <li><a href="javascript:void(0)">Messages</a></li>
                  <li><a href="javascript:void(0)">Permissions %</a></li>
                  <li><a href="javascript:void(0)">WH Movements</a></li>
                  <li><a href="javascript:void(0)">Services</a></li>
                </ul>
              </div>
            </div>
          </div>


          <div class="siderbar_imgsec">
            <div class="side_catimg">
              <img src="../../assets/img/sidebar_catimg.jpg">
            </div>
            <div class="sideimg_caption">
              <h4>Lorem Ipsum</h4>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="javascript:void(0)">Explore</a>
            </div>
          </div>

        </div>
      </div>

      <div class="col-xl-9  col-lg-8 col-md-8">
        <div class="profile-col">
          <div class="profileheader">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12">
                <div class="profile-title">
                  <h2>Company Registry</h2>
                </div>

              </div>


              <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                <div class="profile-rtl-btn">
                  <a href="javascript:void(0)" class="btn blackbtn common-btn">Modify</a>
                </div>

              </div>




            </div>

          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="input-label">
                  <p>Comapny Name</p>
                </div>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="input-data">
                  <p>Legal Representative</p>
                </div>
              </div>

            </div>
          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="input-label">
                  <p>VAT Code</p>
                </div>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="input-data">
                  <p>abc@gmail.com</p>
                </div>
              </div>

            </div>
          </div>


          <div class="profile-data">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="input-label">
                  <p>PEC</p>
                </div>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="input-data">
                  <p>Landline Phone</p>
                </div>
              </div>

            </div>
          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="input-label">
                  <p>Mobile Phone</p>
                </div>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="input-data">
                  <p>Address1</p>
                </div>
                <div class="input-data">
                  <p>Address2</p>
                </div>

              </div>

            </div>
          </div>

          <div class="savebtn">
            <a href="javascript:void(0)" class="btn redbtn common-btn">Save</a>
          </div>



        </div>


        <div class="profile-col">
          <div class="profileheader">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12">
                <div class="profile-title">
                  <h2>Subscription Data</h2>
                </div>

              </div>


              <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                <!--<div class="profile-rtl-btn">
                <a href="#" class="btn blackbtn">Modify</a>
                </div>-->

              </div>




            </div>

          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="input-label">
                  <p>Platform Fee</p>
                </div>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="input-data">
                  <p>WH MC</p>
                </div>
              </div>

            </div>
          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12">
                <div class="input-label">
                  <p>Field 3</p>
                </div>
              </div>

              <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12">
                <div class="input-data">
                  <p>Field 4</p>
                </div>
              </div>

            </div>
          </div>


        </div>


        <div class="profile-col">
          <div class="profileheader">
            <div class="row">
              <div class="col-xl-6 col-lg-8 col-md-8 col-sm-12">
                <div class="profile-title">
                  <h2>Payment Method</h2>
                </div>

              </div>


              <div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
                <div class="profile-rtl-btn">
                  <a href="javascript:void(0)" class="btn blackbtn common-btn">Add</a>
                </div>

              </div>




            </div>

          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-md-12 col-sm-12">
               <div class="item-list">
                  <ul>
                    <li>Item List 1</li>
                    <li>Item List 2</li>
                    <li>Item List 3</li>
                  </ul>

                </div>

              </div>


            </div>
          </div>




        </div>

        <div class="profile-col border0">
          <div class="profileheader">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="profile-title">
                  <h2>Invoices</h2>
                </div>

              </div>


              <!--<div class="col-xl-6 col-lg-4 col-md-4 col-sm-12">
              <div class="profile-rtl-btn">
                <a href="#" class="btn blackbtn">Add</a>
                </div>

              </div>-->




            </div>

          </div>

          <div class="profile-data">
            <div class="row">
              <div class="col-md-12 col-sm-12">
                  <div class="invoices-table">
                      <div class="table-responsive">
                          <table class="table">
                              <tbody>
                                <tr>
                                  <th>Item List 1</th>
                                  <td><div class="download-list"><a class="btn blackbtn common-btn" href="javascript:void(0)">Download</a></div></td>
                                </tr>
                                <tr>
                                  <th scope="row">Item List 2</th>
                                  <td><div class="download-list"><a class="btn blackbtn common-btn" href="javascript:void(0)">Download</a></div></td>
                                </tr>
                                <tr>
                                  <th scope="row">Item List 3</th>
                                  <td><div class="download-list"><a class="btn blackbtn common-btn" href="javascript:void(0)">Download</a></div></td>
                                </tr>
                              </tbody>
                            </table>
      
                      </div>
                  </div>

              </div>

              <!--<div class="col-md-7 col-sm-12 downbtn">
                <div class="download-list">
                  <a href="#" class="btn blackbtn">Download</a>

                </div>

                <div class="download-list">
                  <a href="#" class="btn blackbtn">Download</a>

                </div>

                <div class="download-list">
                  <a href="#" class="btn blackbtn">Download</a>

                </div>

              </div>-->


            </div>
          </div>




        </div>



      </div>	<!--col-xl-8-->
    </div><!--row-->

  </div><!--container-fluid-->
</section>
