



<section class="splash-screen loginp forgot">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-12">
        <div class="signin-img">
          <img src="../../assets/img/signin-img.jpg">
        </div>

      </div>

      <div class="col-xl-5 col-lg-5 col-md-12">
        <div class="box-log">
          <h1>Forgot Password?</h1>
          <div class="forgotform">
            <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()">

              <div class="form-group">
                <input type="email" formControlName="email" class="form-control"  placeholder="Enter Your Email*" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.pattern">Email is not valid</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <div class="form-group">
                <input type="email" formControlName="confirmemail" class="form-control"  placeholder="Retype Your Email*" [ngClass]="{ 'is-invalid': submitted && f.confirmemail.errors }" />
                <div *ngIf="submitted && f.confirmemail.errors" class="invalid-feedback">
                  <div *ngIf="f.confirmemail.errors.required">Email is required</div>
                  <div *ngIf="f.confirmemail.errors.mustMatch">Email must match</div>
                  <div *ngIf="f.email.errors.pattern">Email is not valid</div>
                  <div *ngIf="f.confirmemail.errors.email">Email must be a valid email address</div>
                </div>
              </div>

              <div class="f-botm">
                <button type="submit" class="btn redbtn">Submit</button>
                <div class="rtl-form">
                  <p>Already have an account?</p>
                  <p><a [routerLink]="['/singin']"> Sign In</a></p>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
