

<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page_banner-des">
          <h1>Thank you</h1>
          <p>For everything you had done with us </p>
        </div>

      </div>


    </div>
  </div>
</section>


<section class="contactpage">
  <div class="container-fluid">
    <div class="row justify-content-md-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="thanku_col">
          <h2>Spread The Word</h2>
          <ul>
            <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>


          <button type="button" class="btn redbtn" [routerLink]="['/home']">Done</button>

        </div>

      </div>



    </div>

  </div>
</section>
