<section class="main_slider catpgslider">
  <div class="m_sliderpart">
    <div class="cat_slider blog_slider">
      <div class="cat_name"><h3>ROME AND LAZIO</h3></div>
      <div class="row">
        <div class="col-xl-8 col-lg-7 col-md-12 col-sm-12 slidegaplft">

          <div class="slider_main">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/img/blog/slider1.jpg" >
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem Ipsum</h5>
                    <p>
                      Lorem Ipsum is simply dummy text of the
                      printing and typesetting
                    </p>
                  </div>
                </div>

                <div class="carousel-item">
                  <img src="../../assets/img/blog/slider1.jpg" >
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem Ipsum</h5>
                    <p>
                      Lorem Ipsum is simply dummy text of the
                      printing and typesetting
                    </p>
                  </div>
                </div>

                <div class="carousel-item">
                  <img src="../../assets/img/blog/slider1.jpg" >
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Lorem Ipsum</h5>
                    <p>
                      Lorem Ipsum is simply dummy text of the
                      printing and typesetting
                    </p>
                  </div>
                </div>


              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div><!--slider_main-->
        </div>

        <div class="col-xl-4 col-lg-5 col-md-12 col-sm-12 slidegaprght slidegaplft">
          <div class="blog-add">
            <img src="../../assets/img/blog/blog-rtl-add.jpg">
            <div class="blog-add-des">
              <h2>Lorem Ipsum</h2>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="javascript:void(0)" class="btn explorebtn">Explore</a>
            </div>
          </div>
          <div class="blog-add">
            <img src="../../assets/img/blog/blog-rtl-add2.jpg">
            <div class="blog-add-des">
              <h2>Lorem Ipsum</h2>
              <p>Lorem Ipsum is simply dummy</p>
              <a href="javascript:void(0)" class="btn explorebtn">Explore</a>
            </div>
          </div>
        </div>
      </div>
    </div><!--cat_slider-->
  </div><!--m_sliderpart-->
</section>

<section class="reg_categories categorygridpg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-md-8">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="category_grids blogtitle">
              <div class="hm_title">
                <h4>Topics Categories</h4>
                <small>What differs us from other</small>
              </div>
            </div>
          </div>



        </div>


        <div class="sorting">
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="sort_drop blog_drop">
                <div class="dropdown">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    Recipes
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Dummy heading</a>
                    <a class="dropdown-item" href="#">Dummy heading</a>
                    <a class="dropdown-item" href="#">Dummy heading</a>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
              <div class="sort_numbrs">
                <span>Blog Per Page</span>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">9</a></li>
                  <li class="page-item active"><a class="page-link" href="#">15</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">30</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div><!--sorting-->




        <div class="blogpost">
          <div class="row">

            <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg1.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Piemonte and Valle d'Aosta</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>

              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4  col-md-6 col-sm-124">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg8.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Liguria</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>

                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a"><img src="../../assets/img/rcatimg2.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Lombardy and the Lakes</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->


            <div class="col-xl-4 col-lg-4  col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg8.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Piemonte and Valle d'Aosta</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg10.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Liguria</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg11.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Lombardy and the Lakes</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg12.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Piemonte and Valle d'Aosta</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg2.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Liguria</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
              <div class="blogcat_info">
                <div class="blogcat_img">
                  <a [routerLink]="['/blogdetails']"><img src="../../assets/img/rcatimg3.jpg">	</a>
                </div>
                <div class="blogcat_des">
                  <a [routerLink]="['/blogdetails']" class="text-upper-a">Lombardy and the Lakes</a>
                  <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                  <p> Aliquam vitae felis a massa ultrices tincidunt Aliquam aliquam iaculis risus sed enim efficitur sit amet.Maecenas nec dignissim lacus. Donec tristique nibh sed nibh ornare convallis.  </p>
                  <a [routerLink]="['/blogdetails']" class="more-btn">More</a>
                </div>
              </div><!--rcat_info-->
            </div><!--col-xl-4-->


          </div><!--row-->
        </div>


        <div class="site_pagination">
          <ngb-pagination [collectionSize]="50" [(page)]="currentPage"></ngb-pagination>
        </div>


      </div>

      <div class="col-xl-3 col-lg-4 col-md-4">
        <div class="blog-rtlinfo">
          <div class="blog-add1">
            <img src="../../assets/img/blog/add.jpg">
            <div class="blog-adds-text">
              <h2>Newsletter</h2>
              <p>Lorem Ipsum is simply dummy</p>

              <div class="form-group">
                <input type="email" class="form-control" placeholder="Enter email address">
              </div>
              <div class="form-group">
                <div class="custom-control custom-checkbox blog-nl-checkb">
                  <input type="checkbox" class="custom-control-input" id="customCheck123">
                  <label class="custom-control-label" for="customCheck123" style="color:#000 !important; ">I Accept Privacy Policy.</label>
                </div>
              </div>
              <button class="btn btn-outline-secondary newsbtn" type="button">Subscribe Now</button>

            </div>
          </div>

          <div class="blog_pdr-list">
            <h2>Products</h2>


            <div class="blog-pdrbox">
              <div class="blog_pdr-col hoverlay tile pos-rel">
                <img src="../../assets/img/rcatimg1.jpg">
                <div class="roll-over-effect">
                  <ul>
                    <li class="qv"><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview">Quick View</a> </li>
                    <li class="sh"><a href="javascript:void(0)"><i class="fa fa-share-alt"></i></a></li>
                    <li class="fav"><a href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
                    <li class="cart"><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
                <div class="tag-label offer"> <p>Free <br /> 3 Days!</p> </div>
                <div class="tag-label Info"> <p>Low <br /> Stock!</p> </div>
              </div>

              <p><a href="#">Piemonte and Valle d'Aosta</a></p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
              <div class="blog-rating style-a">
                <ul>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div class="blog-price">
                <p> was: <del>€ 12.00</del> now: € 9.99</p>
              </div>
              <div class="blog-cart">
                <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
              </div>
            </div>




            <div class="blog-pdrbox">
              <div class="blog_pdr-col hoverlay tile pos-rel">
                <img src="../../assets/img/rcatimg2.jpg">
                <div class="roll-over-effect">
                  <ul>
                    <li class="qv"><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview">Quick View</a> </li>
                    <li class="sh"><a href="javascript:void(0)"><i class="fa fa-share-alt"></i></a></li>
                    <li class="fav"><a href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
                    <li class="cart"><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
                <div class="tag-label offer"> <p>Free <br /> 3 Days!</p> </div>
                <div class="tag-label Info"> <p>Low <br /> Stock!</p> </div>
              </div>

              <p><a href="#">Piemonte and Valle d'Aosta</a></p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
              <div class="blog-rating style-a">
                <ul>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div class="blog-price">
                <p> was: <del>€ 12.00</del> now: € 9.99</p>
              </div>
              <div class="blog-cart">
                <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
              </div>
            </div>


            <div class="blog-pdrbox">
              <div class="blog_pdr-col hoverlay tile pos-rel">
                <img src="../../assets/img/rcatimg3.jpg">
                <div class="roll-over-effect">
                  <ul>
                    <li class="qv"><a href="javascript:void(0);" data-toggle="modal" data-target="#quickview">Quick View</a> </li>
                    <li class="sh"><a href="javascript:void(0)"><i class="fa fa-share-alt"></i></a></li>
                    <li class="fav"><a href="javascript:void(0)"><i class="fa fa-heart"></i></a></li>
                    <li class="cart"><a href="javascript:void(0)"><i class="fa fa-shopping-cart"></i></a></li>
                  </ul>
                </div>
                <div class="tag-label offer"> <p>Free <br /> 3 Days!</p> </div>
                <div class="tag-label Info"> <p>Low <br /> Stock!</p> </div>
              </div>

              <p><a href="#">Piemonte and Valle d'Aosta</a></p>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
              <div class="blog-rating style-a">
                <ul>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                  <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                </ul>
              </div>
              <div class="blog-price">
                <p> was: <del>€ 12.00</del> now: € 9.99</p>
              </div>
              <div class="blog-cart">
                <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
              </div>
            </div>




          </div>

        </div>






      </div>




    </div><!--row-->





  </div><!--container-fluid-->

  
</section>





<section class="hm_benefits" id="benefit">
  <div class="container-fluid">
    <div class="hm_title">
      <h4>benefits</h4>
      <small>lorem Ipsum is just a dummy text</small>
    </div>

    <div class="row">
      <div class="col-xl-3 col-lg-3  col-md-3">
        <div class="benfit_info">
          <div class="benefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/benefit1.png">	</a>
          </div>
          <div class="benfit_des">
            <h4>lorem Ipsum</h4>
            <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-3-->

      <div class="col-xl-3 col-lg-3  col-md-3">
        <div class="benfit_info">
          <div class="benefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/benefit2.png">	</a>
          </div>
          <div class="benfit_des">
            <h4>lorem Ipsum</h4>
            <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-3-->

      <div class="col-xl-3 col-lg-3  col-md-3">
        <div class="benfit_info">
          <div class="benefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/benefit3.png">	</a>
          </div>
          <div class="benfit_des">
            <h4>lorem Ipsum</h4>
            <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-3-->

      <div class="col-xl-3 col-lg-3  col-md-3">
        <div class="benfit_info">
          <div class="benefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/benefit4.png">	</a>
          </div>
          <div class="benfit_des">
            <h4>lorem Ipsum</h4>
            <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-3-->
    </div><!--row-->

    <div class="row">
      <div class="col-xl-4 col-lg-4  col-md-4">
        <div class="cbenfit_info">
          <div class="cbenefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/client1.png">	</a>
          </div>
          <div class="cbenfit_des">
            <h4>Customer?</h4>
            <p>Enter the Market</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-4-->

      <div class="col-xl-4 col-lg-4  col-md-4">
        <div class="cbenfit_info">
          <div class="cbenefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/client2.png">	</a>
          </div>
          <div class="cbenfit_des producr">
            <h4>Producer?</h4>
            <p>Discover</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-4-->

      <div class="col-xl-4 col-lg-4  col-md-4">
        <div class="cbenfit_info">
          <div class="cbenefit_img">
            <a href="javascript:void(0)"><img src="../../assets/img/client3.png">	</a>
          </div>
          <div class="cbenfit_des restaurta">
            <h4>Restaurateur?</h4>
            <p>Discover</p>
          </div>
        </div><!--benfit_info-->
      </div><!--col-xl-4-->
    </div><!--row-->


  </div><!--container-fluid-->
</section>


<section class="hm_clientsays" id="clients">
  <div class="container-fluid">
    <div class="hm_title">
      <h4>Clients</h4>
      <small>says about us</small>
    </div>

    <div class="client_slider">
      <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators cuserpics">
          <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"><img src="../../assets/img/client_says3.jpg"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="1"><img src="../../assets/img/client_says1.jpg"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="2"><img src="../../assets/img/client_says2.jpg"></li>
        </ol>
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="carousel-caption d-none d-md-block">
              <div class="c_quote"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.. </p>
              <small>By</small>
              <h5>George Danial</h5>
            </div>
          </div>

          <div class="carousel-item">

            <div class="carousel-caption d-none d-md-block">
              <div class="c_quote"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.. </p>
              <small>By</small>
              <h5>George Danial</h5>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-caption d-none d-md-block">
              <div class="c_quote"><i class="fa fa-quote-left" aria-hidden="true"></i></div>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.. </p>
              <small>By</small>
              <h5>George Danial</h5>
            </div>
          </div>


        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

  </div><!--container-fluid-->
</section>
<!-- quick-view Modal -->
<div class="qvpopup modal fade" id="quickview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
       
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          <div class="row">
            <div class="col-lg-5 col-md-12 col-sm-12">
              <div class="product-image">
                  <div class="ptag"> <p>Lorem </p> </div>
                  <img class="img-fluid" src="../../assets/img/modal-image.png" alt="image">
              </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12">
               <div class="product-info">
                 <h1 class="ptitle">Donec varius et nisl et varius. Vivamus eu sagittis libero. Aliquam et fermentum velit. </h1>
                 <p class="pcodes"><span>Code:123456</span><span>Lorem Impsum text</span></p>
                 <div class="price-prod">
                    <div class="prd-price">
                        € 9.99
                      </div>
                      <div class="addi-info">
                          <span class="ai-icon"><i class="fa fa-truck" aria-hidden="true"></i> </span>
                          <span class="ai-text"><strong>Lorem ipsum dolor</strong> Donec varius consectetur adipiscing elit.</span>
                      </div>
                 </div>
                 <div class="prod-buy">
                    <div class="prd-q">
                        <div class="number-input">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                            <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                            <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                          </div>
                      
                    </div>
                    <div class="cart-col">
                        <button type="button" class="btn cartbtn style-a">Add to Cart</button>
                      </div>
                 </div>
                 <div class="prod-desc">
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam euismod nibh quis diam accumsan lacinia. </p>
                   <p>Donec varius et nisl et varius. Vivamus eu sagittis libero. </p>
                 </div>
               </div>
              </div>
          </div>
           
        </div>
     
      </div>
    </div>
  </div>
