<!--<app-headder *ngIf="!_router.url.includes('/shoppingcart')"></app-headder>-->

<!--<section class="hm_benefits shopping_cartbenefits">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-2">
        <div class="shopping_cartlogo" routerLink="/home"><img src="../../assets/img/shoppingcart_logo.jpg"></div>
      </div>
      <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
        <div class="shopcart_benefits">
          <div class="hm_title">
            <h4>benefits</h4>
          </div>

          <div class="beni-slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="benfit_info">
                    <div class="benefit_img">
                      <a href="#"><img src="../../assets/img/benefit1.png"> </a>
                    </div>
                    <div class="benfit_des">
                      <h4>lorem Ipsum</h4>
                      <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="benfit_info">
                    <div class="benefit_img">
                      <a href="#"><img src="../../assets/img/benefit2.png"> </a>
                    </div>
                    <div class="benfit_des">
                      <h4>lorem Ipsum</h4>
                      <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="benfit_info">
                    <div class="benefit_img">
                      <a href="#"><img src="../../assets/img/benefit3.png"> </a>
                    </div>
                    <div class="benfit_des">
                      <h4>lorem Ipsum</h4>
                      <p> consectetur adipiscing elit. Maecenas quis aliquet elit. consectetur adipiscing elit.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>


        </div>
      </div>

      <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
        <div class="help-conts">
          <div class="hm_title">
            <h4>Help Contacts</h4>
          </div>

          <div class="contact_chkbox">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="need_helpimg">
                  <img src="../../assets/img/need_helpimg.png">

                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="helpcont">
                  <div class="form-group">
                    <label class="cu_checkbox">
                      Contact 101
                      <input type="checkbox">
                      <span class="cu_checkmark"></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="cu_checkbox">
                      Contact 101
                      <input type="checkbox">
                      <span class="cu_checkmark"></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <label class="cu_checkbox">
                      Contact 101
                      <input type="checkbox">
                      <span class="cu_checkmark"></span>
                    </label>
                  </div>
                </div>

              </div>

            </div>


          </div>



          <div class="sc_faqhelp">
            <button type="submit" routerLink="/faq">FAQ</button>
            <button type="submit">Online Help</button>
          </div>

        </div>









      </div>

    </div>

  </div>
</section>-->


<section class="shopcart_witness">
  <div class="container-fluid">
    <!--<div class="row">
      <div class="col-xl-8 col-lg-8 col-md-12 sw_borderright">
        <div class="shopcart_pros">
          <div class="scart_title">
            <h4>Shopping Cart Products</h4>
          </div>

          <div class="scart_table">
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>Product Name</th>
                    <th>Price Column</th>
                    <th>Quantity</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="scart_img"><img src="../../assets/img/rcatimg1.jpg"></div>
                    </td>
                    <td>
                      <div class="scart_proname">
                        Lorem ipsum dolor
                        sit amet,
                      </div>
                    </td>
                    <td><div class="scart_proprice">&euro; 9.99</div></td>
                    <td>
                      <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                        <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="scart_img"><img src="../../assets/img/rcatimg5.jpg"></div>
                    </td>
                    <td>
                      <div class="scart_proname">
                        Lorem ipsum dolor
                        sit amet,
                      </div>
                    </td>
                    <td><div class="scart_proprice">&euro; 9.99</div></td>
                    <td>
                      <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                        <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                      </div>

                    </td>
                  </tr>

                  <tr>
                    <td>
                      <div class="scart_img"><img src="../../assets/img/rcatimg2.jpg"></div>
                    </td>
                    <td>
                      <div class="scart_proname">
                        Lorem ipsum dolor
                        sit amet,
                      </div>
                    </td>
                    <td><div class="scart_proprice">&euro; 9.99</div></td>
                    <td>
                      <div class="number-input">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                        <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                      </div>

                    </td>
                  </tr>
                </tbody>

                <tfoot>
                  <tr>
                    <td>&nbsp;</td>
                    <td>Total</td>
                    <td>&nbsp;</td>
                    <td>€ 28</td>
                  </tr>

                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="3"><div class="scart_note">“Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div></td>
                  </tr>


                </tfoot>
              </table>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xl-4 col-lg-4  col-md-12">
        <div class="scart_witness">
          <div class="scart_title">
            <h4>Witnesses</h4>
          </div>

          <div class="witness_info">

            <div class="img_stars">
              <div class="witness_img">
                <img src="../../assets/img/client_says1.jpg">
              </div>

              <div class="w_rating">
                <h4>George Danial</h4>
                <div class="rating_star">
                  <ul>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar_half.png"></a></li>

                  </ul>

                </div>
              </div>
            </div>

            <div class="witness_desc">
              <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”</p>
            </div>


          </div>

          <div class="witness_info">

            <div class="img_stars">
              <div class="witness_img">
                <img src="../../assets/img/client_says2.jpg">
              </div>

              <div class="w_rating">
                <h4>Liza</h4>
                <div class="rating_star">
                  <ul>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar.png"></a></li>
                    <li><a href="#"><img src="../../assets/img/rstar_half.png"></a></li>

                  </ul>

                </div>
              </div>
            </div>

            <div class="witness_desc">
              <p>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s”</p>
            </div>


          </div>

        </div>
      </div>
    </div>-->

<div class="row">
<div class="col-md-12">
<div class="cart_table">
  <div class="shopcart_pros">
    <div class="scart_title">
      <h4>Shopping Cart Products</h4>
    </div>

    <div class="scart_table">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th width="100">Cart Items</th>
              <th>&nbsp;</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="scart_img"><img src="../../assets/img/rcatimg1.jpg"></div>
              </td>
              <td>
                <div class="scart_proname">
                  Lorem ipsum dolor
                  sit amet,
                </div>
              </td>
              <td><div class="scart_proprice">&euro; 9.99</div></td>
              <td>
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                  <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>

              </td>
              <td><div class="scart_proprice subtotal">&euro; 9.99</div><div class="item-close"><a href="javascript:void(0)"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
               </a></div></td>
            </tr>

            <tr>
              <td>
                <div class="scart_img"><img src="../../assets/img/rcatimg5.jpg"></div>
              </td>
              <td>
                <div class="scart_proname">
                  Lorem ipsum dolor
                  sit amet,
                </div>
              </td>
              <td><div class="scart_proprice">&euro; 9.99</div></td>
              <td>
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                  <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>

              </td>
              <td><div class="scart_proprice subtotal">&euro; 9.99</div><div class="item-close"><a href="javascript:void(0)"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
                </a></div></td>
            </tr>

            <tr>
              <td>
                <div class="scart_img"><img src="../../assets/img/rcatimg2.jpg"></div>
              </td>
              <td>
                <div class="scart_proname">
                  Lorem ipsum dolor
                  sit amet,
                </div>
              </td>
              <td><div class="scart_proprice">&euro; 9.99</div></td>
              <td>
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                  <input class="quantity" min="0" name="quantity" placeholder="Quantity" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>

              </td>

              <td><div class="scart_proprice subtotal">&euro; 9.99</div><div class="item-close"><a href="javascript:void(0)"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
               </a></div></td>
            </tr>
          </tbody>

          <tfoot>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>Total</td>
              <td>€ 29.97</td>
            </tr>

         

          </tfoot>
        </table>
      </div>
    </div>

  </div>

</div>

</div>

</div>


  </div><!--container-fluid-->
</section>


<section class="shopcart_coupen2">
  <div class="shopcart_coupen">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="coup">
            <a class="btn redbtn" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Have A Coupon?
            </a>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <div class="schave_coupen">
                  <div class="hv_copeninfo">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis orci
                      lacinia, semper magna a, pretium nulla. Maecenas fringilla interdum
                      vulputate. Maecenas eget viverra arcu. Curabitur et massa fermentum,
                      semper eros id, condimentum nisl. Maecenas fringilla interdum
                      vulputate. Maecenas eget viverra arcu. Curabitur et massa fermentum,
                      semper eros id, condimentum nisl.
                    </p>
                    <div class="form-group">
                      <input type="text" name="" class="form-control" placeholder="Lorem Ipsum">
                    </div>
                    <div class="hc_btn"><button type="submit">Apply</button></div>
                  </div>
                </div>
              </div>
            </div>

          </div>



        </div>

        <div class="col-xl-6 col-lg-6 col-md-12">
          <div class="coup">
            <a class="btn redbtn" data-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false" aria-controls="collapseExample2">
              Need A Coupon?
            </a>

            <div class="collapse" id="collapseExample2">
              <div class="card card-body">
                <div class="scneed_coupen">
                  <div class="hv_copeninfo">
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis orci
                      lacinia, semper magna a, pretium nulla. Maecenas fringilla interdum
                      vulputate. Maecenas eget viverra arcu. Curabitur et massa fermentum,
                      semper eros id, condimentum nisl.
                    </p>
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Lorem Ipsum">
                    </div>
                    <div class="form-group">
                      <input type="text"  class="form-control" placeholder="Lorem Ipsum">
                    </div>
                    <div class="form-group">
                      <label class="cu_checkbox">
                        Lorem ipsum dolor sit amet
                        <input type="checkbox">
                        <span class="cu_checkmark"></span>
                      </label>
                    </div>
                    <div class="need_coupenbtn"><button type="submit">Subscribe</button></div>
                  </div>

                </div>
              </div>
            </div>
          </div>


        </div>

      </div>


    </div><!--container-fluid-->

  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="coupconfirm_btn"><button type="submit" [routerLink]="['/checkout']">Confirm</button></div>
      </div>
    </div>
  </div>

</section>






