<section class="search-results">
  <div class="container-fluid">
      <div class="hm_title"><h4> Search Results </h4><small> For "Lorem Impsums" </small></div>
   
           <div class="sr-main">
              <div class="blog-pdrbox pos-rel">            
                  <div class="blog_pdr-col hoverlay tile sr-image">
                    <img src="../../assets/img/rcatimg1.jpg">
                    </div>
                  <div class="sr-content">
                    <p><a href="javascript:void(0)">Piemonte and Valle d'Aosta</a></p>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
                  <div class="blog-rating style-a">
                    <ul>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="blog-price">
                    <p> was: <del>€ 12.00</del> now: € 9.99</p>
                  </div>
                  <div class="blog-cart">
                    <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
                  </div>
                  </div>
                  <div class="tag-label offer sr-label"> <p>Free <br /> 3 Days!</p> </div>
                  <div class="tag-label Info sr-label"> <p>Low <br /> Stock!</p> </div>
              </div>

              <div class="blog-pdrbox pos-rel">            
                  <div class="blog_pdr-col hoverlay tile sr-image">
                    <img src="../../assets/img/rcatimg1.jpg">
                    </div>
                  <div class="sr-content">
                    <p><a href="javascript:void(0)">Piemonte and Valle d'Aosta</a></p>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
                  <div class="blog-rating style-a">
                    <ul>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="blog-price">
                    <p> was: <del>€ 12.00</del> now: € 9.99</p>
                  </div>
                  <div class="blog-cart">
                    <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
                  </div>
                  </div>
                  <div class="tag-label offer sr-label"> <p>Free <br /> 3 Days!</p> </div>
                  <div class="tag-label Info sr-label"> <p>Low <br /> Stock!</p> </div>
              </div>

              <div class="blog-pdrbox pos-rel">            
                  <div class="blog_pdr-col hoverlay tile sr-image">
                    <img src="../../assets/img/rcatimg1.jpg">
                    </div>
                  <div class="sr-content">
                    <p><a href="javascript:void(0)">Piemonte and Valle d'Aosta</a></p>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
                  <div class="blog-rating style-a">
                    <ul>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="blog-price">
                    <p> was: <del>€ 12.00</del> now: € 9.99</p>
                  </div>
                  <div class="blog-cart">
                    <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
                  </div>
                  </div>
                  <div class="tag-label offer sr-label"> <p>Free <br /> 3 Days!</p> </div>
                  <div class="tag-label Info sr-label"> <p>Low <br /> Stock!</p> </div>
              </div>

              <div class="blog-pdrbox pos-rel">            
                  <div class="blog_pdr-col hoverlay tile sr-image">
                    <img src="../../assets/img/rcatimg1.jpg">
                    </div>
                  <div class="sr-content">
                    <p><a href="javascript:void(0)">Piemonte and Valle d'Aosta</a></p>
                  
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin egestas congue enim nec lacinia. Sed rutrum vestibulum quam sit amet pulvinar.</p>
                  <div class="blog-rating style-a">
                    <ul>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                      <li><a href="javascript:void(0)"><i class="fa fa-star" aria-hidden="true"></i></a></li>
                    </ul>
                  </div>
                  <div class="blog-price">
                    <p> was: <del>€ 12.00</del> now: € 9.99</p>
                  </div>
                  <div class="blog-cart">
                    <a class="btn explorebtn" href="javascript:void(0)">Add to Cart</a>
                  </div>
                  </div>
                  <div class="tag-label offer sr-label"> <p>Free <br /> 3 Days!</p> </div>
                  <div class="tag-label Info sr-label"> <p>Low <br /> Stock!</p> </div>
              </div>

              
            </div>


  
  </div>
  
 
</section>
